{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Jaime Campillay - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Curriculum Vitae Jaime Campillay."/>
<meta charset="UTF-8">


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Jaime Campillay R." />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Jaime Gabriel Campillay Rojas</h1>
			<h2 class="quickFade delayThree">Ingeniero Civil Industrial y Magister en Ingeniería Industrial y de Sistemas</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>jgcampill@gmail.com</li>
				<li><a href="https://www.linkedin.com/in/jgcampillayr/">www.linkedin.com/in/jgcampillayr</a></li>
				<li>+569-81394911</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Perfil Profesional</h1>
				</div>

				<div class="sectionContent">
					<p>Profesional con 18 meses de experiencia laboral en programación y control de proyecto y costos para la empresa TECHINT CHILE S.A. (Empresa mandante Anglo American Sur).  Me apasionan temas de programación, automatización de procesos, data science y machine learning por lo que ocupo gran parte de mi tiempo libre en aprender más de estos temas. Mi autopercepción de mi inglés es que mi nivel es bueno, pero mi intención es dominarlo. Pienso que la programación sin lugar a dudas es un super poder que puede ser usado para materializar casi cualquier idea.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Experiencia Laboral</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Analista de Programación - TECHINT CHILE S.A. </h2>
					<p class="subDetails">Abril 2019 - Octubre 2020</p>
					<p>El proyecto para el cual fui contratado consistía en el remplazo de tuberías de gran diámetro en la mina Los Bronces para la empresa Anglo Amercian Sur(AAS), dicho proyecto se entrega terminado en octubre 2020. La responsabilidad asignada desde el primer día fue en resumidas palabras “el control del proyecto”, en otras palabras, analizar del cociente entre horas hombre (HH) gastadas divididas por las HH ganadas, reporte de uso y ubicación de maquinaría, control de avance de obras físicas y la confeccionar el documento “Estado de Pago” que se entregaba una vez por mes al cliente AAS, el cuál su importancia era tal que su correcta elaboración permitía la liquidación de los trabajos hechos, ya que era el documento formal que reconoce AAS donde estás todos los controles de calidad, los avances físicos, los gastos adicionales al contrato original y la suma a total pagar.</p>
				</article>

				<article>
					<h2>Ingeniero de Gestión en Clearpix-Lues Sport</h2>
					<p class="subDetails">Diciembre 2016 - Enero 2018</p>
					<p>Trabajé un año como Ingeniero de Gestión. A diario debía planificar, controlar la calidad y hacer seguimiento de los procesos de producción y logística, informar ingreso y cumplimiento de pedidos, revisión de órdenes de compra y entradas de materia prima, control inventario, coordinación con proveedores y gestión de capital humano en una empresa familiar en la industria de los textiles, bordados, confección de prendas, estampados y serigrafías. Uno de los grandes desafíos fue implementar la ERP Odoo.</p>
				</article>

				<article>
					<h2>Investigador de Mercado - Atlantia Search</h2>
					<p class="subDetails">Dicimebre 2015 - Marzo 2016</p>
					<p>Estuadiante en práctica, elaboración de informes y/o presentaciones en el área de la Economía, Mercadotecnia, Comercio Internacional, Finanzas para distintos clientes.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Excel</li>
					<li>Macros-VBA</li>
					<li>Inglés</li>
					<li>Python</li>
					<li>Django</li>
					<li>Data Science</li>
					<li>Programación Lineal</li>
					<li>App Inventor MIT</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Educación</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>Magister en Ingenería Industrial y de Sistemas - Universidad del Desarrollo</p>
					<p class="subDetails"></p>
				</article>

				<article>
					<p>Diplomado en Gestión de Operaciones - Universidad del Desarrollo  </p>
					<p class="subDetails"></p>
				</article>

				<article>
					<p>Diplomado en Gestión de Negocios - Universidad del Desarrollo</p>
					<p class="subDetails"></p>
				</article>

				<article>
					<p>Diplomado en Innovación Empresarial - Universidad del Desarrollo</p>
					<p class="subDetails"></p>
				</article>

				<article>
					<p>Ingeniero Civil Industrial - Universidad Andrés Bello</p>
					<p class="subDetails"></p>
				</article>

			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
